header {
    background-image: linear-gradient(to right,blue,darkblue);
    color: white;
    padding: 10px;
}

body {
    margin: 0;
}
.search-column {
    background-color:	#D3D3D3;
}
.list-group-item{
    line-height: 0.5;
    border: none;
}
.card-body{
    flex:auto
}